<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @exam_answer.user %>
</p>

<p>
  <b>Exam question:</b>
  <%= @exam_answer.exam_question %>
</p>

<p>
  <b>Answer:</b>
  <%= @exam_answer.answer %>
</p>

<p>
  <b>Score:</b>
  <%= @exam_answer.score %>
</p>


<%= link_to 'Edit', edit_exam_answer_path(@exam_answer) %> |
<%= link_to 'Back', exam_answers_path %>
