<%= form_for([:admin, @curriculum, @exam_question]) do |f| %>
  <% if @exam_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam_question.errors.count, "error") %> prohibited this exam_question from being saved:</h2>

      <ul>
      <% @exam_question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number, "番号" %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :title, "見出し" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :question, "設問" %><br />
    <%= f.text_area :question %>
  </div>
  <div class="field">
    <%= f.label :answer, "解答" %><br />
    <%= f.text_area :answer %>
  </div>
  <div class="field">
    <%= f.label :score, "得点" %><br />
    <%= f.text_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
